In [1]:
import pandas as pd
from pprint import pprint
import json
from pandas.io.json import json_normalize
from sqlalchemy import create_engine

In [3]:
US_df = pd.read_csv('ETL-Project/Resources/USvideos.csv')
CA_df = pd.read_csv('ETL-Project/Resources/CAvideos.csv')
GB_df = pd.read_csv('ETL-Project/Resources/GBvideos.csv')

In [4]:
sub_json = []

us_json_file = ('ETL-Project/Resources/US_category_id.json')
us_json = pd.read_json(us_json_file)


for data in us_json['items']:
        sub_json.append([data['id'],data['snippet']['title']])

US_cat_df = pd.DataFrame.from_dict(sub_json)
US_cat_df.columns = ['category_id', 'category']
US_cat_df = US_cat_df.set_index('category_id')
US_cat_df

                          category
category_id
1                 Film & Animation
2                 Autos & Vehicles
10                           Music
15                  Pets & Animals
17                          Sports
18                    Short Movies
19                 Travel & Events
20                          Gaming
21                   Videoblogging
22                  People & Blogs
23                          Comedy
24                   Entertainment
25                 News & Politics
26                   Howto & Style
27                       Education
28            Science & Technology
29           Nonprofits & Activism
30                          Movies
31                 Anime/Animation
32                Action/Adventure
33                        Classics
34                          Comedy
35                     Documentary
36                           Drama
37                          Family
38                         Foreign
39                          Horror
40                  Sci-Fi/Fantasy
41                        Thriller
42                          Shorts
43                           Shows
44                        Trailers

In [10]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/YouTube_Trends')
US_cat_df.to_sql(name = 'categories', con=engine, if_exists = 'append', index = True)